.passer .qtabctn ul {
  list-style: none;
  margin: 0;
}
.passer .qtabctn ul li {
  text-align: center;
  width: 60px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #000;
  cursor: pointer;
  background: #ffc473;
}
.passer .qtabctn ul li.selected {
  background: #ff9400;
}
.passer .qtabctn ul li:hover {
  background: #ff9400;
}
.passer .qtabctn ul li:first-child {
  border-top: 1px solid #000;
}
.passer .qbodyctn {
  background: #fff;
}
.passer .qbodyctn .context .body {
  text-align: justify;
}
.passer .qbodyctn .alineabody {
  text-align: justify;
}
.passer header.well {
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}
.passer footer {
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  text-align: right;
}
.passer .oneanswer {
  border: 1px solid #000;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.passer .oneanswer label {
  display: block;
  text-align: center;
  background: #ffc;
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid #000;
  padding: 0 5px;
}
.passer .oneanswer label input[type=checkbox] {
  margin: auto;
}
.passer .oneanswer .body {
  display: block;
  background: #fff;
  text-align: justify;
  padding: 0 5px;
}
.navbar-text .btn {
  margin-top: auto;
}
