body {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
}
img {
  border: 0;
}
.tt {
  font-family: monospace;
}
/******************/
/* liste de tests */
/******************/
table.mestests td:nth-child(1) {
  text-align: center;
}
table.mestests td:nth-child(3) {
  padding: 0 2em;
}
/**********/
/* footer */
/**********/
footer {
  margin-top: 3em;
  border-top: 1px solid #ddd;
  padding-top: 1em;
  color: #ccc;
  font-size: 90%;
  line-height: 110%;
}
footer a,
footer a:hover {
  color: #ccc;
}
body.bodypasser {
  background: #f6f6f6;
}
.passer {
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  border-radius: 10px;
  background: #fff;
}
.passer .qtabctn ul {
  list-style: none;
  margin: 0;
}
.passer .qtabctn ul li {
  text-align: center;
  width: 60px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #000;
  cursor: pointer;
  background: #ffc473;
}
.passer .qtabctn ul li:first-child {
  border-top: 1px solid #000;
}
.passer .qtabctn ul li.selected {
  background: #ff9400;
  border-left: 4px solid #000;
  width: 52px;
  padding-right: 4px;
}
.passer .qtabctn ul li.result-right {
  background: #bf3;
}
.passer .qtabctn ul li.result-wrong {
  background: #ff4d50;
}
.passer .qtabctn ul li:hover {
  background: #ff9400;
}
.passer .qbodyctn .context .body {
  text-align: justify;
}
.passer .qbodyctn .alineabody {
  text-align: justify;
}
.passer header {
  position: relative;
}
.passer header.well {
  margin-bottom: 0;
  border-radius: 10px 10px 0 0;
}
.passer header .title {
  font-size: 150%;
  display: inline-block;
}
.passer header .navbuttons {
  position: absolute;
  bottom: 25%;
  right: 2em;
}
.passer footer {
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  text-align: right;
  margin-bottom: 0;
}
.passer .oneanswer {
  border: 1px solid #000;
  display: inline-block;
  margin: 0 5px 5px 0;
}
.passer .oneanswer label {
  display: block;
  text-align: center;
  background: #ffc;
  height: 2em;
  line-height: 2em;
  border-bottom: 1px solid #000;
  padding: 0 5px;
}
.passer .oneanswer label input[type=checkbox] {
  margin: auto;
}
.passer .oneanswer label .result {
  width: 40px;
  background: #0f0;
}
.passer .oneanswer label.result-wrong {
  background: #f00;
  padding-right: 0;
}
.passer .oneanswer label.result-right {
  background: #0f0;
}
.passer .oneanswer .letter.larger {
  min-width: 110px;
}
.passer .oneanswer .body {
  display: block;
  background: #fff;
  text-align: justify;
  padding: 0 5px;
}
.navbar-text .btn {
  margin-top: auto;
}
