@font-face {
    font-family: 'GillSans';
    src: url('GillSans-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}
@font-face {
    font-family: 'GillSans';
    src: url('GillSans-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GillSans';
    src: url('GillSans-BoldItalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'GillSans';
    src:  url('GillSans-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
